<nav class="navbar navbar-expand navbar-dark" style="background-color: #0a7f48;">
  <a href="#" class="navbar-brand">Sistema de Envíos</a>
  <div class="navbar-nav mr-auto">
    <li class="nav-item">
      <a routerLink="/lista-libros" class="nav-link">Libros</a>
    </li>
    <li class="nav-item">
      <a routerLink="/crear-libro" class="nav-link">Agregar Libro</a>
    </li>
    <li class="nav-item">
      <a routerLink="/lista-autores" class="nav-link">Autores</a>
    </li>
    <li class="nav-item">
      <a routerLink="/crear-autor" class="nav-link">Agregar Autor</a>
    </li>
  </div>
</nav>

<div class="container mt-3 ">
  <router-outlet></router-outlet>
</div>
